body, html {
    height: 100%;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "about-us" "what-is" "equipments" "anyproperty" "okantower" "let-us" "footer";
}

.buttons__hover:hover{
    background: #2C9ABD;;

}

.buttons__mousedown:active{
    background: black;
}

@media only screen and (min-width: 768px) {
    body {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "header" "about-us" "what-is" "equipments" "anyproperty" "ourcompetive" "okantower" "let-us" "footer";
    }
}

@media only screen and (min-width: 992px) {
    body {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "header" "what-is" "equipments" "anyproperty" "ourcompetive" "okantower" "for-buyers-developers" "let-us" "footer";
    }


}


