.okantower{
    grid-area: okantower;
    width:100%;
    height: 100%;
    background: rgba(32, 16, 55, 0.71) url("tablet-bg-okantowe.png") no-repeat center center;
    background-blend-mode: multiply;
    background-size: cover;
    color: #FFFFFF;
}

.okantower__container{
    display:grid;
    margin-bottom:33px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
            "okantower__h"
            "okantower__container__content"
            "okantower__view";
}

.okantower__container__h{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    grid-area: okantower__h;
    text-align: center;
}

.okantower__container__content{
    grid-area: okantower__container__content;
    display:flex;
    flex-direction: column;
}

.okantower__content__img{
    grid-area: okantower__img;
    width: 100%;
}

.okantower__content__text{
    margin-top: 13px;
    grid-area: okantower__text;
    text-align: justify;
    margin-bottom: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}


.okantower__container__video {
    /*width: 100%;*/
    grid-area: okantower__view;
}

.okantower__videowrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

}

.okantower__container__video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.okantower__video-two, .okantower__video-three{
    display:none;
}

@media only screen and (min-width: 768px) {

    .okantower{
        grid-area: okantower;
    }

    .okantower__container{
        margin-top:70px;
        margin-left:auto;
        margin-right: auto;
        max-width: 960px;
        padding-left:100px;
        padding-right:100px;
    }

    .okantower__container__content{
        flex-direction: row;
        margin-bottom:66px;
    }

    .okantower__content__img{
        width:50%;
    }

    .okantower__content__text{
        margin-left:30px;
    }

    .okantower__container__video{
        display: grid;
        grid-column-gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        margin-bottom: 80px;
    }

    .okantower__videowrapper{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

    }

    .okantower__container__video iframe{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .okantower__video-two, .okantower__video-three{
        display: block;
    }


}
