.about-us{
    grid-area: about-us;
}
.about-us__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:12px;
    margin-right:9px;
    background: url("background.png") no-repeat center center;
    background-size: 297.02px 248.16px;

}

.about-us__h-text{
    margin-top:30px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #34144D;
}

.about-us__text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 17px;
}

.about-us__text__line{
    margin-bottom: 15px;
}

.about-us__head_text{
    margin-top:25px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #000000;
}

@media only screen and (min-width:768px){
    .about-us__flex{
        margin-top:60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:15%;
        margin-right:15%;
        background: url("background.png") no-repeat center center;
        background-size: 297.02px 248.16px;
    }

    .about-us__h-text{
        margin-bottom: 40px;
    }

    .about-us__text{
        display: flex;
        flex-direction: column;
        margin-bottom:78px;
    }

    .about-us__text__line{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .about-us{
        display: none;
    }
}