.footer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 424px auto auto;
    width:100%;
    height: 100%;
}
.google-map{

    width: 100%;
    min-height: 100%;
}
.google-map__map {
    height: 100%;
}

.footer__lets-create__container{
    padding-left:22px;
    padding-right: 28px;
    background: #3D3051;
}

.footer__lets-create__h{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.footer__lets-create__form{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 12px;
    width:100%;
    justify-items: center;
}

.footer__form__checkagree, .footer__form__message, .footer__form__name, .footer__form__phone, .footer__form__submit{
    padding-left:15px;
    width: 100%;
    height: 35px;
    background: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 2px;
    margin-bottom:12px;
    padding-bottom:0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;

}

.footer__form__message{
    padding-left:15px;
    padding-top:15px;
    margin-bottom: 0px;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    border:none;
    border-radius: 2px;
    margin-bottom:12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #FFFFFF;
}

.footer__form__label{

    color:#FFFFFF;
    margin-top:0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}

.footer__form__label:before {
    content: " ";
    color:#000000;
    background: #FFFFFF;
    display: inline-block;
    margin-right: 6.7px;
    text-align: center;
    text-indent: 0px;
    width: 11px;
    height: 11px;
    border-image: initial;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
}

.footer__form__checkagree:checked + .footer__form__label:before {
    content: '\2713';
    -webkit-transform: scale(1);
    transform: scale(1);
}


.footer__form__checkagree{
    display: none;
}

.footer__form__submit{
    background: #2DC1F1;
    border-radius: 2px;
    width:50%;
    padding: 0px;
}


.footer__container__form label{
    color: #333333;
}

.footer__contacts{
    display: grid;
    background: #201037;
    width: 100%;
    height:100%;
}
.footer__contacts__content{
    margin-top: 33px;
    margin-left:34px;
    margin-right:28px;
    display: flex;
}

.footer__content__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.hui{
    padding:0px;
    min-width:30px;
}

.footer__border {
    min-width: 99%;
    margin-top: 20px;
    border: 1px solid rgba(229, 229, 229, 0.28);
}

.footer__margin-bottom{
    min-width: 99%;
    margin-bottom: 33px;
}

@media only screen and (min-width: 768px) {
    .footer{
        display: grid;
        grid-template-rows: 500px auto;
        grid-template-columns: auto auto auto auto;
    }

    .google-map{
        grid-column: 1/5;
        grid-row: 1;
        z-index: 0;
        width:100%;
        height: 100%;
    }

    .google-map__map{

        position: relative;
    }

    .footer__lets-create__container{
        max-width: 483px;
        grid-row: 1;
        grid-column: 4;
        z-index: 1;
        margin-left:50%;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer__contacts{
        grid-row: 2;
        grid-column: 1/5;
    }

    .footer__lets-create__form{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 5px;
    }

    .footer__form__message{
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .footer__form__label{
        width:100%;
        grid-column: 1/3;
        grid-row: 4;

    }

    .footer__form__submit{
        margin-top:40px;
        grid-column: 1/3;
        grid-row: 5;
    }

    .footer__contacts{
        display: grid;
        width: 100%;
        justify-content: center;
        grid-template-columns: 24% 24% 24%;
        grid-template-rows: auto auto auto;
        padding-top: 60px;
    }

    .footer__contacts__content{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer__contacts__content:nth-of-type(1){
        grid-row:1/3;
        grid-column:1;
    }

    .footer__contacts__content:nth-of-type(2){
        grid-row:1/3;
        grid-column:2;
    }

    .footer__contacts__content:nth-of-type(3){
        grid-row:1;
        grid-column:3;
    }

    .footer__contacts__content:nth-of-type(4){
        grid-row:2;
        grid-column:3;
    }

    .footer__contacts__content:nth-of-type(6){
        grid-row:3;
        grid-column:1/4;
        justify-content: center;
        margin-bottom:50px;
        paddint-top:43px;
        border-top:1px solid #E5E5E5;
        margin-right: 0px;
        margin-left:0px;
        padding-left:0;
        padding-right:0px;
    }

    .footer__border{
        display: none;
    }

    .foo-span{
        margin-top:43px;
    }

    .footer__margin-bottom{
        margin-bottom: 0px;
    }

}

@media only screen and (min-width: 992px) {
    .footer__lets-create__container{
        margin-left: 57%;
        grid-column: 2;
    }
}