.ourcompetive{
    display: none;
}

@media only screen and (min-width: 768px) {
    .ourcompetive{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                "our-cont-h"
                "our-cont";
        width: 100%;

    }

    .ourcompetive__h{
        margin-top:72px;
        grid-area: our-cont-h;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #34144D;
        text-align: center;
    }

    .ourcompetive__content {
        grid-area: our-cont;
        min-width: 500px;
        min-height: 283px;
        background: url("our-group.png") no-repeat center center;
        background-size: 60% 50%;
    }
}

@media only screen and (min-width: 992px) {
    .ourcompetive{
        display: none;
    }
}