.what-is {
    grid-area: what-is;

    background: url("background.png") no-repeat center center;
    background-size: cover;
}

.what-is__container {
    display: grid;
    margin-right: 15px;
    margin-left: 16px;
    grid-template-columns: 100%;
    grid-template-rows: 69px 198px auto;
    grid-template-areas: "what-is__h" "what-is__view" "what-is__info";

}

.what-is__container__h {
    font-family: Roboto, serif;
    margin-top: 24px;
    margin-bottom: 0px;
    text-align: center;
    color: #34144D;
    grid-area: what-is__h;
}

.what-is__container__h:before{
    content:'WHAT IS V1?';
}

.what-is__container__video {
    width: 100%;
    grid-area: what-is__view;
}

.what-is__container__info {
    margin-top: 28px;
    grid-area: what-is__info;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    grid-template-rows: repeat(4, auto);
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 30px;
}

.info__contentline {
    display: flex;
    align-items: flex-start;

}

.info__contentline__icon {
    margin-left: 0px;
    min-width: 32px;
    min-height: 33px;
}

.one-icon {
    background: url("icon-one.png") no-repeat center center;
    background-size: cover;
}

.two-icon {
    background: url("icon-two.png") no-repeat center center;
    background-size: cover;
}

.three-icon {
    background: url("icon-three.png") no-repeat center center;
    background-size: cover;
}

.four-icon {
    background: url("icon-four.png") no-repeat center center;
    background-size: cover;
}

.info__contentline__text {
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-left: 10px;
}

.what-is__preview {
    display: none;
}

.what-is__container__desktop-text{
    display: none;
}

@media only screen and (min-width: 768px) {
    .what-is {
        grid-area: what-is;
        /*background:rgba(52, 20, 77, 0.5) url("background.png")no-repeat center center;*/
        background: rgba(52, 20, 77, 0.8) url("tablet-bg.png") no-repeat center center;
        background-blend-mode: multiply;
        background-size: 100% 100%, contain;
    }

    .what-is__container {
        display: grid;
        margin-right: 15%;
        margin-left: 15%;
        grid-template-columns: 100%;
        grid-template-rows: 69px 443px auto auto;
        grid-template-areas: "what-is__h" "what-is__view" "what-is__info" "what-is__preview";

    }

    .what-is__container__h {
        margin-top: 26px;
        margin-bottom: 59px;
        text-align: center;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
        grid-area: what-is__h;
    }

    .what-is__container__info {
        margin-top: 81px;
        grid-area: what-is__info;
        display: grid;
        justify-content: center;
        grid-template-columns: 70%;
        grid-row-gap: 30px;
        grid-template-rows: repeat(4, auto);
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 30px;
    }


    .info__contentline__text {
        margin-left: 44px;
        font-family: Raleway, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;

        color: #FFFFFF;

    }

    .one-icon {
        background: url("tablet-ic-one.png") no-repeat center center;
        background-size: cover;
    }

    .two-icon {
        background: url("tablet-ic-two.png") no-repeat center center;
        background-size: cover;
    }

    .three-icon {
        background: url("tablet-ic-three.png") no-repeat center center;
        background-size: cover;
    }

    .four-icon {
        background: url("tablet-ic-four.png") no-repeat center center;
        background-size: cover;
    }

    .what-is__preview {
        grid-area: what-is__preview;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 27px;
        margin-top: 63px;
        margin-bottom: 63px;
    }

    .what-is__container__desktop-text{
        display: none;
    }

}

@media only screen and (min-width: 992px) {

    .what-is {
        grid-area: what-is;

        background: url("background.png") no-repeat center center;
        background-size: cover;
    }

    .what-is__container__h{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;

        color: #34144D;
        margin-top: 88px;
    }

    .what-is__container__h:before{
        content:'V1. THE FUTURE OF LUXURE REAL ESTATE';
    }

    .what-is__container {
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
        grid-template-areas: "what-is__h" "what-is__container__desktop-text" "what-is__preview";
        grid-template-columns: 100%;
        grid-template-rows: auto auto ;
        justify-content: center;
    }

    .what-is__container__info{
        display: none;
    }

    .what-is__container__desktop-text{
        display: block;
        grid-area: what-is__container__desktop-text;
        width: 100%;
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 31px;

        color: #000000;
    }

    .what-is__preview{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 307px;
        margin-bottom: 0px;
    }

}
