.let-us {
    grid-area: let-us;
    width: 100%;
    height: 100%;
    background: #FFFFFF url("letus-bg.svg") repeat center center;
    background-size: contain;
}

.let-us__container {
    padding-top: 50px;
    display: grid;
    margin-left: 22px;
    margin-right: 28px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "letus__h-one" "letus__text" "letus__form" "letus__h-two" "letus__logo"
}

.let-us__container__h:nth-of-type(1) {
    grid-area: letus__h-one;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #34144D;
}

.let-us__container__h:nth-of-type(2) {
    grid-area: letus__h-two;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #34144D;
    margin-top: 52px;
}

.let-us__container__text {
    margin-top: 15px;
    margin-bottom: 15px;
    grid-area: letus__text;
    text-align: center;
    color: #000000;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.let-us__container__form {
    grid-area: letus__form;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 12px;
    grid-template-areas: "letus-name letus-name" "letus-email letus-email" "letus-check letus-submit";
    width: 50%;

}

.let-us__form-name {
    grid-area: letus-name;
    padding-left: 15px;
    background: #3282C5;
    height: 35px;
    color: #FFFFFF;
    border: none;
}

.let-us__form-email {
    grid-area: letus-email;
    border: none;
    padding-left: 15px;
    height: 35px;
    background: #3282C5;
    color: #FFFFFF;
}

.let-us__checkcontainer-label {
    align-self: flex-start;
    display: flex;
    margin-left: 0px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.let-us__checkcontainer-label:before {
    /*content: " ";*/
    /*color:#EEEEEE;*/
    /*background: #5C5D5C;*/
    /*display: inline-block;*/
    /*margin-right: 6.7px;*/
    /*text-align: center;*/
    /*text-indent: 0px;*/
    /*width: 11px;*/
    /*height: 11px;*/
    /*border-image: initial;*/
    /*vertical-align: middle;*/
    /*font-weight: bold;*/
    /*font-size: 10px;*/
}

.checkcontainer__checked {
    content: " ";
    color: #EEEEEE;
    background: #5C5D5C;
    display: inline-block;
    margin-right: 6.7px;
    text-align: center;
    text-indent: 0px;
    width: 15px;
    height: 11px;
    border-image: initial;
    vertical-align: middle;
    font-weight: bold;
    font-size: 10px;
}

.galka {
    display: none;
    border-bottom: 2px solid white;
    transform: rotate(100deg);
    min-width: 8px;
}

.galka-long {
    display: none;
    min-width: 8px;
    transform: rotate(160deg);
    border-bottom: 2px solid white;
}

.let-us__checkcontainer-checkagree:checked ~ .checkcontainer__checked .galka-long {
    display: block;

}

.let-us__checkcontainer-checkagree:checked ~ .checkcontainer__checked .galka {
    display: block;

}


.let-us__checkcontainer-checkagree {
    display: none;

}

.let-us__form-checkcontainer {
    grid-area: letus-check;
    display: flex;
    width: 100%;
    padding-right: 0px;
}

.let-us__form-submit {
    grid-area: letus-submit;
    width: 100%;
    height: 35px;
    background: #2DC1F1;
    border-radius: 2px;
    flex-grow: 2;
    border: none;
    color: #FFFFFF;
    margin-top: 0px;
}


.let-us__container__form label {
    color: #333333;
}

.let-us__container__logo {
    grid-area: letus__logo;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 5px;

    margin-bottom: 82px;
    margin-left: auto;
    margin-right: auto;
}

.let-us__logo__google {
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    min-width: 54px;
    min-height: 20px;
    background: url("google.png") no-repeat center center;
    background-size: 54px 20px;
}

.let-us__logo__one {
    margin-left: auto;
    margin-right: auto;
    min-width: 84px;
    min-height: 17px;
    background: url("one.png") no-repeat center center;
    background-size: 84px 17px;
}

.let-us__logo__nest {
    margin-left: 0px;
    margin-right: auto;
    min-width: 51px;
    min-height: 21px;
    background: url("nest.png") no-repeat center center;
    background-size: 51px 21px;
}

@media only screen and (min-width: 768px) {
    .let-us__container__form {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto;
        grid-column-gap: 30px;
        grid-row-gap: 19px;
        grid-template-areas: "letus-name letus-email letus-submit" "letus-check letus-check letus-check";
    }

    .let-us__form-email {
        grid-area: letus-email;
        width: 100%;
    }

    .let-us__form-name {
        grid-area: letus-name;
        width: 100%;
    }

    .let-us__checkcontainer-label {
        justify-items: center;
    }

    .checkcontainer__span {
        text-align: center;
        width: 100%;
    }

    .let-us__form-checkcontainer {
        padding: 0px;
        grid-area: letus-check;
        display: flex;
        justify-content: center;
    }

    .let-us__form-submit {
        grid-area: letus-submit;
        width: 100%;
        height: 100%;
    }

    .let-us__container__h:nth-of-type(1n){
        font-size: 28px;
    }
}


@media only screen and (min-width: 992px) {

    .let-us__container{
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
    }

    .let-us__logo__google {

        min-width: 179px;
        min-height: 62px;
        background-size: 179px 62px;
    }

    .let-us__logo__one{
        min-width: 283px;
        min-height: 63px;
        background-size: 283px 63px;
    }

    .let-us__logo__nest{
        min-width: 140px;
        min-height: 63px;
        background-size: 140px 63px;
    }
}
