
.equipments {
    display: grid;
    grid-area: equipments;
    width: 100%;
    height: 100%;
}

.equipments__container{
    display: grid;
    margin-right: 15px;
    margin-left: 16px;
    margin-bottom:30px;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    grid-template-areas:
            "equipments__container__h"
            "equipments__container__text";
}

.equipments__container__h {
    color: #34144D;
    font-family: Roboto, serif;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
    grid-area: equipments__container__h;
}

.equipments__container__text{
    display: flex;
    flex-direction: column;
}

.equipments__text{
    margin-bottom:16px;
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.equipments__v1container{
    display: none;
}

.equipments__container__content{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 30px;
    grid-template-areas:
            "eq__block-one"
            "eq__block-two"
            "eq__block-three";
}

.block--font{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.equipments__content__block-one{
    grid-area: eq__block-one;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url("block-one-bg.png") no-repeat;
    background-size: 49.07px 106.64px;
    background-position-x: 60%;
    background-position-y: 0px;
}

.block-one__image{
    width: 160px;
    height: 111px;
    margin-top:45px;
}

.block-one__text{
    margin-top:5px;
}

.equipments__content__block-two{
    grid-area: eq__block-two;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url("block-two-bg.png") no-repeat;
    background-size: 49.07px 106.64px;
    background-position-x: 62%;
    background-position-y: 0px;
}

.block-two__image{
    width: 145px;
    height: 145px;
    margin-top:45px;
}

.block-two__text{
    margin-top:5px;
}


.equipments__content__block-three{
    grid-area: eq__block-three;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url("block-three-bg.png") no-repeat;
    background-size: 49.07px 106.64px;
    background-position-x: 63%;
    background-position-y: 0px;
}

.block-three__image{
    width: 172px;
    height: 100px;
    margin-top:45px;
}

.block-three__text{
    margin-top:15px;
}

@media only screen and (min-width:768px){
    .equipments {
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-area: equipments;
        width: 100%;
        height: 100%;
        grid-template-areas:
                "equipments__v1__container"
                "equipments__container";
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .equipments__container{
        max-width: 960px;
        padding-left:100px;
        padding-right:100px;
        margin-left: auto;
        margin-right: auto;
    }

    .equipments__container__h {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #34144D;
        margin-top: 84px;
        margin-bottom: 16px;
        text-align: center;
        grid-area: equipments__container__h;
    }


    .equipments__text{
        margin-bottom:44px;
        font-family: Raleway,serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        text-align: justify;

        color: #000000;
    }


    .equipments__container__content{
        display: grid;
        width:100%;
        grid-template-columns:auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-template-areas:
                "eq__block-one eq__block-two eq__block-three";

    }

    .equipments__content__block-one{
        grid-area: eq__block-one;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: url("block-one-bg.png") no-repeat;
        background-size: 49.07px 106.64px;
        background-position-x: 60%;
        background-position-y: 0px;
    }

    .block-one__image{
        width: 160px;
        height: 111px;
        margin-top:45px;
    }

    .block-one__text{
        justify-self: flex-end;
    }

    .equipments__content__block-two{
        grid-area: eq__block-two;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: url("block-two-bg.png") no-repeat;
        background-size: 49.07px 106.64px;
        background-position-x: 72%;
        background-position-y: 0px;
    }

    .block-two__image{
        width: 125px;
        height: 110px;

    }

    .block-two__text{
        justify-self: flex-end;
    }


    .equipments__content__block-three{
        grid-area: eq__block-three;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: url("block-three-bg.png") no-repeat;
        background-size: 49.07px 106.64px;
        background-position-x: 63%;
        background-position-y: 0px;
    }

    .block-three__image{
        width: 172px;
        height: 100px;
        margin-top:45px;
    }

    .block-three__text{
        justify-self: flex-end;
    }

    .equipments__v1container__h {
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #34144D;
        margin-top: 103px;
        margin-bottom: 16px;
        text-align: center;
        grid-area: equipments__container__h;
    }


    .equipments__v1container__h3{
        margin:10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #34144D;
    }

    .equipments__v1container{
        padding-left:100px;
        padding-right:100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: center;
        grid-area: equipments__v1__container;
    }

    .equipments__v1container__image{
        background: url("tech.png") no-repeat center center;
        background-size:800px 300px;
        min-width: 500px;
        min-height: 200px;
    }

}