.for-buyers-developers {
    display: none;
}

@media only screen and (min-width: 768px) {
    .for-buyers-developers{
        display: none;
    }

}
@media only screen and (min-width: 992px) {

    .for-buyers-developers{
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
        display: grid;
        grid-area: for-buyers-developers;
        grid-template-columns: 35% 35%;
        grid-template-rows: auto;
        grid-column-gap: 28px;
        width: 100%;
        justify-content: center;
    }

    .for-buyers-developers__column{
        margin-top:77px;
        display: flex;
        width:100%;
        flex-direction: column;
        background: #FBFBFB;
        border:1px solid #E5E5E5;
        border-radius: 3px;
        margin-left: 28px;
        padding-bottom: 41px;
        margin-bottom: 42px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .for-buyers-developers__column__bgleft{
        position: absolute;
        background: url("bgleft.png") no-repeat center center;
        background-size: 127px 108px;
        min-width: 127px;
        min-height: 108px;
        margin-left: 15px;
    }

    .for-buyers-developers__h{
        z-index: 1;
        text-align: center;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */
        color: #34144D;
        margin-top: 35px;
        margin-left: 13px;
    }

    .for-buyers-developers__column__line{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 33px;
    }

    .for-buyers-developers__line__img{
        margin-left:26px;
        background: url("galochka.png") no-repeat center center;
        background-size: 26px 20px;
        min-width: 26px;
        min-height: 20px;
        margin-top:0px;
        padding-top: 0px;
        align-self: flex-start;

    }

    .for-buyers-developers__line__text{
        align-self: flex-start;
        font-family: Open Sans, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-left: 12px;
        margin-right: 30px;
    }
}