.header {
    grid-area: header;
    background: url("background.png") no-repeat center center;
    background-size: cover;


}

.header__form-signin {
    display: none;
    position: absolute;
    left:10px;
}

.header__form-ordercall {
    display: none;
    position: absolute;
    left:10px;
}


.header__menu {
    position: relative;
    padding-top: 17px;
    padding-left: 34px;
    padding-right: 29px;
    padding-bottom: 11px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "head_menu_logo head_menu_buttons head_menu_nav";
    background-color: #FFFFFF;
}

.header__desklogo {
    display: none;
}

.header__menu__logo {
    width: 56.02px;
    height: 19.78px;
    grid-area: head_menu_logo;
    background: url("logo.png") no-repeat center center;
    background-size: cover;


}

.header__nav__popup{
    display: none;
}

.menu__nav__checkbox{
    display: none;
}

.menu__nav__checkbox:checked ~ .header__nav__popup{
    display: flex;
    position: absolute;
    padding:37px;
    padding-top:51px;

    right: 10px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
}

.nav__popup__a{
    margin-top:10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */
    text-decoration: none;
    letter-spacing: 2px;

    color: #5B5B5B;
}

.nav__popup__a:hover{
    color: #2DC1F1;
}


.header__links {
    display: none;

}

.buttons__label__text{
    display: none;
}

.header__menu__buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 33px;
}

.menu__buttons__person {
    width: 17px;
    height: 16px;
    background: url("person.png") no-repeat center center;
    background-size: cover;
}

.menu__buttons__ordercall {
    width: 17px;
    height: 17px;
    background: url("ordercall.png") no-repeat center center;
    background-size: cover;
}

.header__menu__nav {
    width: 24px;
    height: 24px;
    grid-area: head_menu_nav;
    background: url("menu.png") no-repeat center center;
    background-size: cover;
}


#person-btn:hover div {
    background: url("person-hover.png") no-repeat center center;
    width: 17px;
    height: 16px;
    background-size: cover;
}

/*.btn-cont:nth-of-type(1):active .header__form-signin {*/
/*    position: absolute;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.menu__person__checkbox{
    display: none;
}

.menu__ordercall__checkbox{
    display: none;
}

.menu__ordercall__checkbox:checked ~ .header__form-ordercall{
    width:150px;
    height: 283px;
    position: absolute;
    display: grid;
    margin-top:51px;
    padding-left: 27px;
    padding-right: 27px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 14px;
    justify-items: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
}

.form-ordercall__line{
    width: 100%;
}

.form-ordercall__h{
    margin-top:40px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #333333;
}

.form-ordercall__logo{
    position: absolute;
    top:-27px;
    background: url("ordercallform-logo.png") no-repeat center center;
    background-size: 55px 55px;
    min-width:55px;
    min-height: 55px;
}

.form-ordercall__closebtn{
    position: absolute;
    right:7px;
    top:9px;
    background: url("sign-in-closebtn.png") no-repeat center center;
    background-size: 15px 15px;
    min-height: 15px;
    min-width: 15px;
}

.form-ordercall__btn{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #333333;
    width: 100%;
}

.form-ordercall__btn__button{
    border: none;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0px;
    color: #FFFFFF;
    width: 100%;
    height: 39px;
    border-color: rgba(32, 16, 55, 0.46);
    background: #2DC1F1;
    border-radius: 2px;
    content:"Login";
}

.form-ordercall__btn__button:before {
    content: 'Login';
}

.form-ordercall__line__name, .form-ordercall__line__phone{
    width: 90%;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding-left: 15px;
    color: #333333;
}

.form-ordercall__foo{
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;

    color: #333333;
}

.menu__person__checkbox:checked ~ .header__form-signin{
    width:150px;
    height: 283px;
    position: absolute;
    display: grid;
    margin-top:51px;
    padding-left: 27px;
    padding-right: 27px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 14px;
    justify-items: center;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 2px;
}

.form-signin__line{
    width: 100%;
}

.form-signin__h{
    margin-top:40px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #333333;
}

.form-signin__logo{
    position: absolute;
    top:-27px;
    background: url("sign-in-logo.png") no-repeat center center;
    background-size: 55px 55px;
    min-width:55px;
    min-height: 55px;
}

.form-signin__closebtn{
    position: absolute;
    right:7px;
    top:9px;
    background: url("sign-in-closebtn.png") no-repeat center center;
    background-size: 15px 15px;
    min-height: 15px;
    min-width: 15px;
}

.form-signin__closebtn:hover {

}

.form-signin__btn{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #333333;
    width: 100%;
}

.form-signin__btn__button{
    border: none;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0px;
    color: #FFFFFF;
    width: 100%;
    height: 39px;
    border-color: rgba(32, 16, 55, 0.46);
    background: #2DC1F1;
    border-radius: 2px;
    content:"Login";
}

.form-signin__btn__button:before {
    content: 'Login';
}

.form-signin__line__username, .form-signin__line__password{
    width: 90%;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    padding-left: 15px;
    color: #333333;
}

.form-signin__foo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.form-signin__foo__remember{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    align-items: center;
    color: #333333;
}

.foo__a{
    justify-self: flex-end;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    text-decoration: none;
    color: #333333;
}

.foo__endline{
    margin-left:18px;
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    color: #333333;
}

.foo__endline-register{
    font-family: Roboto,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    display: flex;
    color: #333333;
    text-decoration: none;
}

#phone-btn:hover div {
    background: url("phone-hover.png") no-repeat center center;
    width: 17px;
    height: 17px;
    background-size: cover;
}

.header__menu__nav:hover {
    width: 24px;
    height: 24px;
    background: url("menu-hover.png") no-repeat center center;
    background-size: cover;

}

.header__background__description {
    display: none;
}

.header__background__links {
    display: none;
}

.header__background {
    display: flex;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;

    padding-bottom: 126px;
}

.header__background__logo {
    display: none;
}

.header__background__text {
    text-align: center;
    margin-top: 138px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header__background__desk-descript {
    display: none;
}

.header__background__button {
    border: none;
    text-align: center;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 30px;
    color: #FFFFFF;
    width: 154px;
    height: 39px;
    border-color: rgba(32, 16, 55, 0.46);
    background: #2DC1F1;
    border-radius: 2px;
}

.header__background__button:before {
    content: 'CTA';
}

@media only screen and (min-width: 768px) {

    .header__menu {
        grid-column-gap: 40px;
        padding-top: 46px;
        padding-bottom: 28px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;

        grid-template-areas: "head_menu_logo head_links head_menu_buttons";
        background-color: #FFFFFF;
        justify-content: center;

    }

    .header__form-signin {
        left:auto;
        right: 10px;
    }

    .header__form-ordercall {
        left:auto;
        right:10px;
    }

    .header__links {
        margin-top: auto;
        margin-bottom: auto;
        grid-area: head_links;
        display: grid;
        grid-column-gap: 25px;
        grid-template-columns: auto auto auto auto;
    }

    .header__links__a {
        font-family: Roboto, serif;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 2px;
        text-align: center;
        color: #5B5B5B;

        text-decoration: none;
    }

    .header__links__a:hover {
        color: #2DC1F1;
    }

    .header__menu__logo {
        width: 133px;
        height: 47px;
        grid-area: head_menu_logo;
        background: url("logo-tablet.png") no-repeat center center;
        background-size: cover;
    }

    .header__menu__nav {
        display: none;
    }

    .buttons__label {
        display: block;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #5B5B5B;

    }

    .buttons__label__text{
        display: block;
    }

    .menu__buttons__cont {
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
        margin-top: auto;
        align-items: center;
    }

    .btn-cont {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .buttons__label:hover{
        color: #2DC1F1;
    }


    .header__menu__buttons {
        padding: 0;

        grid-area: head_menu_buttons;
        display: grid;
        height: 17.32px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 23px;
    }

    .header__background {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-bottom: 232px;
    }

    .header__background__text {
        text-align: center;
        margin-top: 195px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */
        color: #FFFFFF;
    }

    .menu__buttons__person {
        margin-bottom: 11px;
    }

    .menu__buttons__ordercall {
        margin-bottom: 11px;
    }

    .buttons__label {
        text-align: center;
    }

    .header__background__description {
        display: block;
        margin-top: 15px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: lighter;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;

    }
}

@media only screen and (min-width: 992px) {
    .header {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;

    }

    .header__form-signin {
        left:auto;
        right: auto;
    }

    .header__form-ordercall {
        left:auto;
        right: auto;
        margin-left:-90px;
    }

    .header__menu__logo {
        display: none;
    }

    .header__desklogo {
        grid-area: head_menu_logo;
        display: flex;
    }

    .header__desklogo__logo {
        display: block;
        min-width: 53px;
        min-height: 46px;
        background: url("desk-logo.png") no-repeat center center;
        background-size: 53px 46px;
    }

    .header__desklogo__text {
        min-width: 74px;
        min-height: 46px;
        background: url("desk-logotext.png") no-repeat center center;
        background-size: 74px 46px;
    }


    .header__background {
        grid-row: 1;
        grid-column: 1;
        z-index: 1;
    }

    .header__menu {
        grid-row: 1;
        grid-column: 1;
        height: 10%;
        z-index: 2;
        background: none;
    }

    .header__links a {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 2px;

        color: #EEEEEE;
    }


    .menu__buttons__person {
        min-width: 17px;
        min-height: 16px;
        background: url("desk-person.png");
        background-size: 17px 17px;

    }

    .menu__buttons__ordercall {
        min-width: 17px;
        min-height: 17px;
        background: url("desk-phone.png");
        background-size: 17px 17px;
    }

    .buttons__label {
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        color: #EEEEEE;

    }

    .header__background {
        margin-bottom: 120px;
        padding-bottom: 0px;
    }

    .header__background__text {
        margin-top: 248px;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
    }

    .header__background__logo {
        display: block;
        min-width: 53px;
        min-height: 46px;
        background: url("desk-logo.png") no-repeat center center;
        background-size: 53px 46px;
        margin-top: 17px;
        margin-bottom: 24px;
    }

    .header__background__description {
        display: none;
    }

    .header__background__desk-descript {
        display: block;
        text-align: justify;
        font-family: Roboto;
        width: 60%;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .header__background__links {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-column-gap: 50px;
        margin-top: 50px;
    }

    .background__links__a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */

        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
    }

    .background__links__a:hover {
        color: #2DC1F1;
    }

    .header__background__button:before {
        content: 'EXPERIENCE V1';
    }

    .header__background__button {
        margin-top: 62px;
        width: 20%;
    }
}