.anyproperty{
    grid-area: anyproperty;
    width:100%;
    height: 100%;
    background: #EEEEEE url("any-bg.png") repeat center center;
    background-size: contain;
}

.anyproperty__container{
    display:grid;
    margin-left:22px;
    margin-right:28px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
            "any_h"
            "any_text"
            "any__content-one"
            "any__content-two"
            "any__content-three"
            "any__content-four"
            "any__content-five"
            "any__content-six";
    align-content: center;
}

.anyproperty__container__h{
    grid-area: any_h;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: Roboto, serif;
    color: #201037;
}

.anyproperty__container__text{
    text-align: center;
    margin-bottom: 20px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    grid-area:any_text;
}



.content__img{
    min-width:45px;
    min-height: 46px;
}

.content__img-one{
    background: url("any-one.png") no-repeat center center;
    background-size:44px 22px;
}

.content__img-two{
    background: url("any-two.png")no-repeat center center;
    background-size:45px 38px;
}
.content__img-three{
    background: url("any-three.png")no-repeat center center;
    background-size:38px 37px;
}
.content__img-four{
    background: url("any-four.png")no-repeat center center;
    background-size:45px 45px;
}
.content__img-five{
    background: url("any-five.png")no-repeat center center;
    background-size:44px 45px;
}
.content__img-six{
    background: url("any-six.png")no-repeat center center;
    background-size:22px 45px;
}



.content__text{
    font-family: Raleway, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-left:22px;
    margin-right:auto;
}

.content__text__h{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top:0px;
    margin-bottom:5px;
}

.anyproperty__container__content-one {
    grid-area: any__content-one;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.anyproperty__container__content-two {
    grid-area: any__content-two;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.anyproperty__container__content-three {
    grid-area: any__content-three;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.anyproperty__container__content-four {
    grid-area: any__content-four;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.anyproperty__container__content-five {
    grid-area: any__content-five;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.anyproperty__container__content-six {
    grid-area: any__content-six;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    margin-bottom:13px;
}

.img--fix--margin{
    justify-self: center;
    margin-right:17px;
}

@media only screen and (min-width: 768px) {
    .anyproperty__container{
        max-width: 960px;
        margin-left:auto;
        margin-right: auto;
        margin-top: 96px;
        padding-left:100px;
        padding-right:100px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 84px;
        grid-template-areas:
                "any_h any_h any_h"
                "any_text any_text any_text"
                "any__content-one any__content-two any__content-three"
                "any__content-four any__content-five any__content-six";
    }

    .anyproperty__container__text{
        margin-bottom:83px;
    }

    .content__text{
        text-align: center;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 50px;
        justify-self: flex-end;
    }

    .anyproperty__container__content{
        justify-self: center;
        min-height: 96px;
        min-width: 96px;
    }

    [class^="anyproperty__container__content-"]{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .content__img{
        min-width:96px;
        min-height: 98px;
    }

    .content__img-one{
        background: url("any-one.png") no-repeat center center;
        background-size:90px 45px;
    }

    .content__img-two{
        background: url("any-two.png")no-repeat center center;
        background-size:92px 78px;
    }
    .content__img-three{
        background: url("any-three.png")no-repeat center center;
        background-size:93px 92px;
    }
    .content__img-four{
        background: url("any-four.png")no-repeat center center;
        background-size:96px 96px;
    }
    .content__img-five{
        background: url("any-five.png")no-repeat center center;
        background-size:93px 96px;
    }
    .content__img-six{
        background: url("any-six.png")no-repeat center center;
        background-size:46px 93px;
    }
}